@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to get: Users that have sent messages, totalt antal meddelanden, antal lästa meddelanden, antal borttagna meddelanden</p>
</div>
