@model Community_ASP.NET.ViewModel.GroupInfo

@{
    ViewData["Title"] = "Read Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to put here: Existing groups with tick boxes to join. Create group with textbox to enter group name</p>
</div>


<h4>Groups</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" onsubmit="">
                <input type="submit" value="Create group" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>