@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to get: List of all possible recipients, title field, text field, reciept of sent message</p>
</div>
