@model Community_ASP.NET.ViewModel.MessageInfo

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Stuff to get: List of all possible recipients, title field, text field, reciept of sent message</p>
</div>



<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                @Html.DropDownList("UserList", (List<SelectListItem>)ViewBag.UserList, "Select receiver", htmlAttributes: new { required = "Select receiver" })
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" required />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group" onsubmit="">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (TempData["custdetails"] != null)
    {

        <p>@TempData["custdetails"]</p>

    }
</div>
@if (TempData["sErrMsg"] != null || Model == null)
{
    <p style="color:red;">@TempData["sErrMsg"]</p>
}
else
{

}
